body{
	background-color: #6fb505;
	color: white;
}
#main_img{
	box-shadow: 0 0 8px 3px rgba(0,0,0,1);
	width: 90%;
	height: auto;
}
.bg-gray{
    background-color: #3b8004;
    border-radius: 35px;
    padding: 50px;
    box-shadow: 0 0 10px 2px #000000;
}

#port_select::-ms-expand {
    display: none;
}

.br-round-sm{
    border-radius: 20px;
}
.br-round{
    border-radius: 30px;
}